.FH
{
    border: 3px solid green;    
}
table, th, td 
{
    border: 1px solid blue;
    font-family:Snell Roundhand, cursive;
}﻿
.Header
{
    position:absolute;
    top:2%;
    left:2%;
    right:2%;
    height:23%;
    text-align:center;
    background-color:green;
    font-size:40px;
    width:96%;
}

.LeftPanel
{
    position:absolute;
    top:25%;
    left:2%;
    width:23%;
    height:73%;
    bottom:2%;
    text-align:center;
    background-color:Orange;
    font-size:30px;
    font-family:Impact, fantasy;
}

.RightPanel
{
    position:absolute;
    top:25%;
    height:73%;
    right:2%;
    width:73%;
    bottom:2%;
    text-align:center;
    background-color:skyblue;
    font-size:30px;
    font-family:"Comic Sans MS", "Comic Sans", cursive;
}
